<div class="share-container">
    <h2 class="share-title">Share the good</h2>

    <div class="step1 text-center" ng-show="step == 1">
        <div class="input-append">
            <input class="input-large" type="text" ng-model="name" placeholder="Enter Your last name">
            <button class="btn btn-info" type="button" ng-click="nameSend()">Submit</button>
        </div>
        <div class="alert error-message" ng-class="message.class">{{message.text}}</div>
    </div>

    <div class="step2 text-center" ng-show="step == 2">
        <form action="/add-good" method="POST">
            <input type="hidden" name="lastName" value="{{name}}"/>
            <div class="help-description">About the recipient</div>

            <div class="row-fluid text-center">
                <div class="span6">
                    <select class="input-xlarge" name="age">
                        <option value="0">- Approximate Age -</option>
                        <option value="17">17</option>
                        <option value="19">19</option>
                        <option value="21">21</option>
                        <option value="23">23</option>
                        <option value="25">25</option>
                        <option value="27">27</option>
                        <option value="29">29</option>
                        <option value="31">31</option>
                        <option value="33">33</option>
                        <option value="35">35</option>
                        <option value="37">37</option>
                        <option value="39">39</option>
                        <option value="41">41</option>
                        <option value="43">43</option>
                        <option value="100">more</option>
                    </select>
                </div>
                <div class="span6">
                    <select class="input-xlarge" name="gender">
                        <option value="0">- Gender -</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
            </div>

            <div class="help-description">When and where you gave the gift</div>

            <div class="row-fluid">
                <div class="span6">
                    <input name="date" class="input-xlarge" type="text" placeholder="mm/dd/yyyy"/>
                </div>
                <div class="span6">
                    <input name="location" class="input-xlarge" type="text" placeholder="Location"/>
                </div>
            </div>
            <textarea name="note" style="width: 95%;" rows="4" placeholder="Any additional comments or notes?"></textarea>

            <div class="help-description">Voucher at envelope</div>

            <div class="row-fluid">
                <div class="span6">
                    <input name="voucher" class="input-xlarge" type="text" placeholder="5-digit number" ng-model="voucher" required/>
                </div>
                <div class="span6 text-left">
                    <div ng-hide="voucherValidate()" class="text-error">required 5 digit</div>
                    <div ng-show="voucherValidate()" class="text-success">ok</div>
                </div>
            </div>

            <div class="well text-left">

                <p class="text-center">
                    <small>By clicking 'Share my story' below, I acknowledge that the information entered above is the truthful to the best of my knowledge.</small>
                </p>

                <input type="submit" class="btn btn-large btn-block btn-primary" value="Submit">
            </div>
        </form>
    </div>
</div>
